/*This is style sheet code*/
*{
    padding: 0;
    margin: 0;
    overflow: none;
}
/*
https://www.digitalocean.com/community/tutorials/css-scrollbars
*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6F319A;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }
  
  *::-webkit-scrollbar-track {
    background: #6F319A;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #6F319A;
    border-radius: 20px;
    border: 3px solid #6F319A;
  }
body{
    background-color:white;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color:#6F319A;   /* scroll thumb and track */ 
  
}
#menu-row{
    width: 100%;
    
}
.row{
    --bs-gutter-x: 0rem;
}

ul{
    list-style-type: none;
    
}
li{
    float: left;
}
a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
p{
    text-decoration: none;
    overflow: auto;
}

#logo{
    max-width: inherit;
    height: 7rem;
}

#login-link{
    float: right;
    margin-top: 2.5rem;
    margin-right: 5rem;
    background: #6F319A;
    border-radius: 5px;
    border-color: white;
}
#login-link:hover{
    background-color: #ea1d63;
    /*animation-delay: 10s;*/
    padding-left: 20px;
    padding-right: 20px;
    transition: 5ms;
    transition-delay: 5ms;
    border-radius: 10px;
}

#menu-row ul{
    background-color: #6F319A;/* #67487d  #6F319A*/
}

#menu-row li{
    padding:0.8% 4% 0.8% 4%;
    position: relative;
    color: aliceblue;
    text-align: center;
}
#menu-row li:hover{
    background-color:#ea1d63;
    color: black;
}
#body-img{
    width: 100%;
    height: 80%;
}
#body-description .section1{
    font-size: medium;
    font-style: normal;
    text-align: justify;
}
#body-description section{
    font-size: medium;
    font-style: normal;
    text-align: left;
    padding: 10px 20px 10px 20px;
}

#footer-row{
    background-color: #6F319A;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#login-img{
    width: inherit;
}

#software-info-body-row h2 {
    left: 10px;
    text-align: left;
  }
  #software-info-body-row section p {
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
  }
  #software-info-body-row header {
    text-align: left;
    width: 80%;
    padding-left: 5%;
    padding-top: 10px;
  }
  #software-info-body-row section a {
    text-decoration: none;
    color: #67487d;
    cursor: pointer;
  }
  #software-info-body-row section {
    width: 90%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: auto;
    margin-top: 2rem;
    padding: 1%;
  }